nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

nav > img {
  width: 80px;
  height: 80px;
  float: left;
}

nav > span {
  float: left;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
  height: 100%;
  vertical-align: middle;
}

nav .composeBtn {
  background-color: #b7f7e5;
  border: 0.5px solid black;
  padding: 1em 0.5em;
  border-radius: 7px;
  float: right;
  margin-top: 0.75em;
  outline: none;
}

nav .composeBtn:hover {
  background-color: #eeee;
}

